/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  padding: 3rem;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: 'Ninja Naruto', sans-serif;
  gap: 2rem;
  background-color: #3f4345;
  color: #fff;
}

h1 {
  display: flex;
  padding-bottom: 7rem;
  padding-left: 5rem;
  justify-content: center;
}

.view-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.recent-scores {
  display: flex;
  gap: 2rem;
}

#scores-container {
  border: 1px solid #baae9c;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

form {
  align-items: flex-end;
  gap: 1rem;
}

/* Input styles */
input {
  background-color: rgb(255, 255, 255);
  height: 2rem;
  margin: 0.1rem;
  border: 1px solid #000000f9;
}

/* Button styles */
button {
  height: 1.5rem;
}

/* Form and list item styles */
form,
li {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2rem;
}

article {
  position: fixed;
  bottom: 0;
  width: 250px;
  transition: all 0.3s ease;
}

article img:first-child {
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

article img:last-child {
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: 0.3s ease;
  opacity: 0;
}

article:hover {
  transform:
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}

article::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(
      to bottom,
      transparent 10%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0) 95%
    );
  opacity: 0;
  transition: all 0.3s ease;
}

article:hover::before {
  opacity: 1;
}

article:hover img:last-child {
  opacity: 1;
  transform: translateY(10%);
}
