/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Body styles */
body h1 {
  padding: 3rem;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

.view-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.recent-scores {
  display: flex;
  gap: 2rem;
}

/* Input styles */
input {
  background-color: rgb(255, 255, 255);
  height: 2rem;
  margin: 0.1rem;
  border: 1px solid #000000f9;
}

/* Button styles */
button {
  height: 1.5rem;
}

/* Form and list item styles */
form,
li {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}
