/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Body styles */
body h1 {
  padding: 3rem;
  text-align: center;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

/* Input styles */
input {
  background-color: rgb(255, 255, 255);
  height: 2rem;
  margin: 0.1rem;
  border: none;
}

/* Button styles */
button {
  width: 1.5rem;
  height: 1.5rem;
}

/* Form and list item styles */
form,
li {
  padding: 0.3rem;
  display: grid;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e7dfe7f9;
  height: 2rem;
}

.view-container {
  display: flex;
}
